body {
	color: #223 !important;
}

.fixed[data-magellan-expedition="fixed"] {
	left: auto !important;
}

.main-content {
	padding-bottom: 40px;
}

h1 {
	border-top: 2px solid gray;
	margin-top: 30px;
	padding-top: 15px;
}

#story li {
	border-bottom: 1px solid #ddd;
}
#story li:last-child {
	border-bottom: none;
}

.intro {
	font-family: 'Handlee', cursive;
	margin-top: 20px;
	color: #556;
}


